/* .section {
  background-color: "";
  border: "";
}
body {
  background-image: url(https://img.freepik.com/free-vector/realistic-fashion-runway-illustration_23-2148812992.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 150vh;
  background-color: rgba(39, 38, 38, 0.055);
  z-index: -2;
}
.brand-card-front {
  height: 32em;
  width: 50%;
}

.brand-card-front img {
  height: 20em;
  width: 20em;
}
.animate {
  transform: rotate(180deg);
}

.brandDetails {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.brandDetails img {
  height: 275px;
}

#brands {
  display: flex;
  flex-wrap: wrap;
} */

/* MATTEOS */

.section {
  /* background-color: grey; */
  border: black;
  text-align: center;
}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmfT-QvVkPBpidFtvk-BJQxA5Yo6PdsiMGzA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.brand-card-front {
  height: auto;
  width: 50%;
}

.brand-card-front h3 {
  text-align: center;
}

.brand-card-front h4 {
  text-align: center;
}

.brand-card-front h3.block-view,
.brand-card-front h4.block-view {
  text-align: center;
}

.brand-card-front img.block-view {
  width: 30%;
}

div.extra-images img.extra-image {
  width: 33%;
}

div.brand-card-front img {
  height: 20em;
  width: auto;
  max-width: 70%;
}
.animate {
  transform: rotate(180deg);
}

.brandDetails {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.extra-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#brands {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bolder;
}

.brand-card-front.block-view {
  height: auto;
  width: 100%;
}

#brands.block-view {
  width: 100%;
  display: block;
}

* {
  font-family: "optima", sans-serif;
  color: rgba(0, 0, 0, 0.735);
}
