.section {
  background-color: "";
  border: "";
}
body {
  background-image: url(https://img.freepik.com/free-vector/realistic-fashion-runway-illustration_23-2148812992.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-card-front {
  height: 32em;
  width: 50%;
}

.brand-card-front img {
  height: 20em;
  width: 20em;
}
.animate {
  transform: rotate(180deg);
}

.brandDetails {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.brandDetails img {
  height: 275px;
}

#brands {
  display: flex;
  flex-wrap: wrap;
}
